html,
body {
    direction: rtl;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
    direction: rtl;
}

.fa-rtl {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.announcement .announcement-close {
    right: auto;
    left: 12px;
}

.nav-bar .link {
    margin-right: 0;
    margin-left: 20px
}

@media (min-width: 1200px) {
    .nav-bar .link:not(:last-child) {
        margin-right: 0;
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    .nav-bar .link-btn:not(:last-child) {
        margin-right: 0;
        margin-left: 12px;
    }
}

@media (min-width: 1200px) {
    .nav-bar .drop-down:not(:last-child) {
        margin-right: 0;
        margin-left: 20px;
    }
}

@media (max-width: 1199.98px) {
    .nav-bar .nav-bar-actions {
        margin-right: auto;
        margin-left: 0;
    }
}

@media (max-width: 1199.98px) {
    .nav-bar .nav-bar-menu-inner {
        right: auto;
        left: -300px;
    }
}

@media (max-width: 1199.98px) {
    .nav-bar .nav-bar-menu.show .nav-bar-menu-inner {
        right: auto;
        left: 0;
    }
}

@media (max-width: 1199.98px) {
    .nav-bar.nav-bar-sm .nav-bar-menu .nav-bar-menu-inner {
        right: -300px;
        left: auto;
    }
}

@media (max-width: 1199.98px) {
    .nav-bar.nav-bar-sm .nav-bar-menu.show .nav-bar-menu-inner {
        right: 0;
        left: auto;
    }
}

.form-select.form-select-md {
    padding-right: 18px;
    padding-left: 40px;
}

.form-select.form-select-lg {
    padding-right: 22px;
    padding-left: 40px;
}

.form-search button,
.form-search .icon {
    right: 0;
    left: auto;
}

.form-search:not(.form-search-reverse) .form-control {
    padding-right: 45px;
    padding-left: 18px;
}

.form-search.form-search-reverse button,
.form-search.form-search-reverse .icon {
    right: auto;
    left: 0;
}

.form-search.form-search-reverse .form-control {
    padding-right: 18px;
    padding-left: 45px;
}

.form-number .form-select {
    border-radius: 0 8px 8px 0;
    border-right: 1px solid var(--border_color);
    border-left: 0;
}

.form-number .form-control {
    border-radius: 8px 0 0 8px;
}

.search .search-input input {
    padding: 25px 35px 25px 175px;
}

.search .search-input .btn {
    right: auto;
    left: 10px;
}

.search-results .search-item img {
    margin-right: 0;
    margin-left: 10px;
}

.simplebar-track.simplebar-vertical {
    right: auto;
    left: 0;
}

.product-badge {
    right: auto;
    left: 0;
}

.product-price .product-price-through {
    margin-right: 0;
    margin-left: 8px;
}

.accordion-custom .accordion-button .accordion-button-icon {
    margin-right: 0;
    margin-left: 16px;
}

.post-meta .post-meta-item:not(:last-child) {
    margin-right: 0;
    margin-left: 10px;
}

.post-meta .post-meta-item:not(:last-child)::after {
    margin-right: 10px;
    margin-left: 0;
}

.post-meta .post-meta-item i {
    margin-right: 0;
    margin-left: 8px;
}

.comment .comment-img {
    margin-right: 0;
    margin-left: 12px;
}

.drop-down .drop-down-menu {
    right: auto;
    left: 0;
}

.drop-down .drop-down-menu.drop-down-menu-end {
    right: 0;
    left: auto;
}

@media (max-width: 669.98px) {
    .drop-down.drop-down-lg .drop-down-menu {
        right: auto;
        left: -65px;
    }
}

@media (max-width: 575.98px) {
    .drop-down.drop-down-lg .drop-down-menu {
        right: auto;
        left: -50px;
    }
}

.user-stat:not(:last-child)::before {
    right: auto;
    left: 0;
}

.product-comment .product-comment {
    margin-right: 65px;
    margin-left: 0;
}

.dashboard.toggle .dashboard-sidebar {
    right: -230px;
    left: auto;
}

.dashboard-sidebar-link .dashboard-sidebar-link-title span {
    margin-right: 0;
    margin-left: 10px;
}

.dashboard-sidebar-link .dashboard-sidebar-link-menu {
    padding-right: 32px;
    padding-left: 0;
}

@media (max-width: 1199.98px) {
    .dashboard.toggle .dashboard-sidebar {
        right: 0;
    }
}

@media (max-width: 1199.98px) {
    .dashboard.toggle .dashboard-sidebar .dashboard-sidebar-body {
        right: 0;
        left: auto;
    }
}

.dashboard.toggle .dashboard-nav {
    right: 0;
}

.dashboard-sidebar {
    right: 0;
    left: auto;
}

.dashboard-sidebar .dashboard-sidebar-body {
    right: 0;
    left: auto;
}

@media (max-width: 1199.98px) {
    .dashboard-sidebar .dashboard-sidebar-body {
        right: -230px;
        left: auto;
    }
}

@media (min-width: 1200px) {
    .dashboard-nav {
        right: 230px;
        left: auto;
    }
}

.dashboard-balance .dashboard-balance-info {
    margin-right: 0;
    margin-left: 12px;
}

@media (min-width: 576px) {
    .dashboard-btn.dashboard-nav-btn .noti-counter {
        right: auto;
        left: 0;
    }
}

.dashboard-toggle .toggle-title::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dashboard-toggle.animated .toggle-title::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.user-menu .user-img {
    margin-right: 0;
    margin-left: 10px;
}

.noti .noti-item.unread {
    padding-right: 20px;
    padding-left: 30px;
}

.uploaded-file .uploaded-file-icon,
.uploaded-file .uploaded-file-info {
    margin-right: 0;
    margin-left: 10px;
}

.uploaded-file .uploaded-file-remove {
    margin-right: auto;
    margin-left: 0;
}

.dropzone-drag .dropzone-drag-icon {
    margin-right: 0;
    margin-left: 16px;
}

.dropzone .dz-preview .dz-fileicon {
    margin-right: 0;
    margin-left: 10px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
    margin-right: 0;
    margin-left: 5px;
}

.dropzone .dz-preview .dz-details .dz-size {
    margin-left: 0;
    margin-right: auto;
}

.dropzone .dz-preview .dz-details .dz-remove {
    right: auto;
    left: 7px;
}

.bootstrap-select .btn {
    background-position: left 0.75rem center;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right;
}

.item-price .item-price-through {
    margin-right: 0;
    margin-left: 8px;
}

.item-badge {
    position: absolute;
    right: 0;
    left: auto;
    border-end-end-radius: 8px;
    border-start-end-radius: 8px;
}

@media (min-width: 768px) {
    .item-inline .item-body {
        padding: 0 24px 0 0;
    }
}

.breadcrumb.custom {
    margin-bottom: 0;
    --bs-breadcrumb-divider: "\f053";
}

.table thead th:not(:last-child) {
    border-right: 0;
    border-left: 2px solid #f7f7f7;
}

.table tbody td:not(:last-child) {
    border-right: 0;
    border-left: 2px solid #f7f7f7;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-right: 8px;
    margin-left: 0;
}

.preview-btn {
    left: 30px;
    right: auto;
}

.payment-method .form-check-input {
    left: 0;
    right: 10px;
}

.alert {
    border-left: 1px solid;
    border-right: 6px solid;
}

.period-select .period-select-icon {
    margin-right: 14px;
    margin-left: 0;
}

.btn-social svg {
    margin-right: 0;
    margin-left: 8px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 8px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group> :not(.btn-check)+.btn {
    border-radius: 8px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group button {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-group .first-input {
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
    border-right: 1px solid var(--border_color);
    padding-left: 2rem;
}

.form-group .second-input {
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.form-group .first-input.bootstrap-select .btn {
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
}

.form-group .second-input.bootstrap-select .btn {
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.plan .plan-pro {
    right: auto;
    left: -82px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.plan .plan-feat-icon {
    margin-right: 0;
    margin-left: 16px;
}

.item-audio-wave {
    direction: ltr;
}