:root {
  --primary_color: #4caf50;
  --secondary_color: #222222;
  --background_color: #f8f8f8;
  --navbar1_background_color: #222222;
  --navbar2_background_color: #ffffff;
  --trending_item_badge_color: #0074e4;
  --sale_item_badge_color: #0bbe9a;
  --free_item_badge_color: #743cee;
  --header_background_color: #f7f7f7;
  --swiper_background_color: #ecf5f8;
  --text_color: #2b2b2b;
  --heading_color: #010d4c;
  --text_muted: #8e9cba;
  --border_color: #ececec;
  --dashboard_sidebar_header_background_color: #262626;
  --dashboard_sidebar_body_background_color: #333333;
  --dashboard_sidebar_elements_background_color: #3d3d3d;
  --files_icon_color: #4caf50;
  --item_preview_navbar_background: #222222;
  --footer_background_color: #222222;
  --footer_border_color: #292929;
  --footer_text_color: #888888;
}
